.fixed-header{
  position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      height: 60px;
}

.responsive-logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .responsive-logo img {
    width: 50%;
  }
}