/* You can add global styles to this file, and also import other style files */
body {
  font-family: Verdana;
  background: linear-gradient(to bottom, #fef7ed, #feefee);

}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import url('assets/bootstrap-icons/bootstrap-icons.css');
@import url('assets/css/fonts.css');